{% extends 'base.html' %}

{% block content %}

<h2>Dashboard</h2>

<div class="row">

    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5>Total Residents</h5>
                <p>{{ total_residents }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5>Available Rooms</h5>
                <p>{{ available_rooms }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5>Total Payments</h5>
                <p>{{ total_payments }}</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}