{% extends "layout.html" %}
{% block content %}

<div class="row">

    <div class="col-12 col-md-4 mb-3">
        <div class="card p-4 text-center">
            <i class="bi bi-house-door fs-1 text-primary"></i>
            <h5 class="mt-2">Room</h5>
            <h3>{{ info[1] }}</h3>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
        <div class="card p-4 text-center">
            <i class="bi bi-cash fs-1 text-success"></i>
            <h5>Total Payments</h5>
            <h3>{{ payments|length }}</h3>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
        <div class="card p-4 text-center">
            <i class="bi bi-check-circle fs-1 text-info"></i>
            <h5>Status</h5>
            <h3>Active</h3>
        </div>
    </div>

</div>

<div class="card mt-4">
    <div class="card-header bg-primary text-white">
        Payment History
    </div>

    <div class="card-body table-responsive">

        <table class="table table-hover">

            <tr>
                <th>Amount</th>
                <th>Balance</th>
                <th>Date</th>
            </tr>

            {% for p in payments %}
            <tr>
                <td>Ksh {{ p[0] }}</td>
                <td>Ksh {{ p[1] }}</td>
                <td>{{ p[2] }}</td>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>

{% endblock %}
